.app{
    margin-top: 0;
    /* background-color: bisque; */
}

.center {
    display: flex;
    justify-content: center;
}

h3 {
    color: #808080;
}

.updates {
    color: #008080;
}

.warning {
    color: #ff0000;
}